<IfModule mod_rewrite.c>
RewriteEngine on

RewriteRule ^album-([0-9]+)-(.*)\.html$ galeri.php?id=$1 [L]
RewriteRule ^post-(.*)-(.*)\.html$ detail-berita.php?id=$1 [L]
RewriteRule ^artikel-(.*)-(.*)\.html$ detail-artikel.php?id=$1 [L]
RewriteRule ^detailkeg-(.*)-(.*)\.html$ detail-kinerja.php?id=$1 [L]
RewriteRule ^prasarana-(.*)-(.*)\.html$ prasarana-sda.php?id=$1 [L]
RewriteRule ^hidrologi-das\.html$ das.php [L]
RewriteRule ^hidrologi\.html$ hidrologi.php [L]
RewriteRule ^agenda-(.*)\.html$ detail-agenda.php?id=$1 [L]
RewriteRule ^page-(.*)\.html$ halaman-statis.php?id=$1 [L]
RewriteRule ^seaarch-(.*)\.html$ search.php?id=$1 [L]
RewriteRule ^slide-(.*)\.html$ hal_slide.php?id=$1 [L]
RewriteRule ^hasil-pencarian\.html$ media.php?module=hasilcari&id=$1 [L]
RewriteRule ^indeks-berita\.html$ media.php?module=indeksberita&id=$1 [L]
RewriteRule ^hasil-poling\.html$ media.php?module=hasilpoling&id=$1 [L]
RewriteRule ^gallery-(.*)-(.*)\.html$ album.php?id=$1 [L]
RewriteRule ^bukutamu\.html$ buku-tamu.php [L]
RewriteRule ^berita\.html$ berita-arsip.php [L]
RewriteRule ^artikel\.html$ artikel-arsip.php [L]
RewriteRule ^pustaka\.html$ pustaka-sda.php [L]
RewriteRule ^agenda\.html$ agenda-arsip.php [L]
RewriteRule ^kinerja\.html$ kegiatan-sda.php [L]
RewriteRule ^progres\.html$ progres-sda.php [L]
RewriteRule ^halberita-(.*)\.html$ berita-arsip.php?next=$1 [L]
RewriteRule ^profil-kami\.html$ media.php?module=profilkami&id=$1 [L]
RewriteRule ^kontak-kami\.html$ hubungi-kami.php [L]
RewriteRule ^hubungi-aksi\.html$ media.php?module=hubungiaksi&id=$1 [L]
RewriteRule ^semua-berita\.html$ media.php?module=semuaberita&id=$1 [L]
RewriteRule ^halberita-(.*)\.html$ media.php?module=semuaberita&halberita=$1 [L]
RewriteRule ^kategori-([0-9]+)-(.*)\.html$ media.php?module=detailkategori&id=$1 [L]
RewriteRule ^halkategori-([0-9]+)-(.*)\.html$ media.php?module=detailkategori&id=$1&halkategori=$2 [L]
RewriteRule ^halagenda-(.*)\.html$ agenda-arsip.php?next=$1 [L]
RewriteRule ^semua-download\.html$ media.php?module=semuadownload&id=$1 [L]
RewriteRule ^haldownload-(.*)\.html$ media.php?module=semuadownload&haldownload=$1 [L]
RewriteRule ^semua-album\.html$ media.php?module=semuaalbum&id=$1 [L]
RewriteRule ^halgaleri-([0-9]+)-(.*)\.html$ media.php?module=detailalbum&id=$1&halgaleri=$2 [L]
RewriteRule ^halkomentar-(.*)-([0-9]+)\.html$ media.php?module=detailberita&id=$1&halkomentar=$2 [L]
RewriteRule ^lapor\.html$ lapor.php [L]
RewriteRule ^kinerja-(.*)-(.*)\.html$ kegiatan-sda.php?tahun=$1&kegiatan=$2 [L]


Options All -Indexes
</IfModule>
